body
{
  font-family: 'Akaya Telivigala', cursive;
  background: #00ffea;
}

.header_div
  {
  background: #7bff00;
  color: rgb(234, 0, 255); 
  }

  .header_div p{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
  }
  .main_div button{
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
  }

  
  .copy_right_footer {
   position: fixed;
   color: #0088ff;
   bottom: 0;
   width: 100%;
   font-size: 18px;
   background-color: #9dff00; 
   line-height: 3;
   text-align: center;
   text-shadow: 5px 5px 5px rgb(255, 131, 131);
}
